
*, *::before, *::after {
    box-sizing: border-box;
}

.booking-container {
    background-color: white;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 800px;
    margin:20px auto;
    text-align: center;
}

h1 {
    font-size: 40px;
    color: #495e57;
    margin-bottom: 20px;
}

.intro-text, .instructions {
    font-size: 18px;
    color: #495e57;
    line-height: 1.5;
}

.reservation-form {
    margin-top: 30px;
    background-color: #FBDABB;
    padding: 20px;
    border-radius:16px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.reservation-form h2 {
    font-size: 24px;
    color: #495e57;
    margin-bottom: 20px;
}

.reservation-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #495e57;
}

.reservation-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size:16px;
    transition: border-color 0.3s ease;
}

.reservation-form input:focus {
    border-color: #495e57;
    outline:none;
}

.reservation-form button {
    background-color: #ee9972;
    color: white;
    font-size: 18px;
    padding: 12px 30px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reservation-form button:hover {
    background-color: #f4ce14;
    transform: scale(1.05);
}

.additional-options {
    margin-top: 30px;
}

.additional-options button {
    background-color: #495e57;
    color: white;
    font-size: 18px;
    padding: 12px 30px;
    margin: 10px;
    border: none;
    border-radius: 16px;
    cursor:pointer;
    transition: background-color 0.3s ease;
}

.additional-options button:hover {
    background-color: #ee9972;
    transform:scale(1.05);
}

@media (max-width: 768px) {
    .booking-container {
        padding: 15px;
    }

    h1 {
        font-size: 40px;
    }

    .reservation-form h2 {
        font-size: 20px;
    }

    .reservation-form input, .reservation-form button {
        font-size: 16px;
    }

    .additional-options button {
        font-size: 16px;
        padding: 10px 20px;
    }
}

@media (max-width: 480px) {
    .booking-container {
        padding: 10px;
    }

    h1 {
        font-size: 28px;
    }

    .reservation-form h2 {
        font-size: 18px;
    }

    .reservation-form input, .reservation-form button {
        font-size: 14px;
    }

    .additional-options button {
        font-size: 14px;
        padding: 8px 15px;
    }
}